html, body,#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: white;
  height: 100%; 
  width: 100%; 
  margin: 0;

}


body {
  display: block;
  min-height: 100vh;
}
